<div class="row">
  <div class="col-4 align-self-center">
    <form class="form-inline">
        <%= select_tag 'from', options_for_select(form_data[:from_names], form_data[:from]), class: 'form-control mb-2 mr-sm-2' %>
        <%= select_tag 'to', options_for_select(form_data[:to_names], form_data[:to]), class: 'form-control mb-2 mr-sm-2' %>
        <%= submit_tag 'Submit', class: 'btn btn-primary mb-2 mr-sm-2' %>
    </form>
  </div>
  <div class="col-4">
    <canvas id="currency-chart" width="100%" height="auto" data-payload="<%= @chart_data %>"></canvas>
  </div>
</div>
